.contain {
    background-color: #e5f2e5;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    max-width: 400px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 5px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    background-color: #517751;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    box-shadow: 10px 10px 10px rgba(0, 255, 8, 0.49);
}