.navbar {
    background-color: #e5f2e5;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
}

.nav-item a:hover {
    color: #7caf7c;
}


._button{
    margin: 0 0 0 50px;
    color: #37412e;
    background-color: #91d591;
    border-color: #428542;
    border-radius: 10px;
}
._button:hover{
    border-color: #91d591;
}
